.container {
  max-width: 1080px;
  margin: 20px auto;
}
body  {
  background-image: url('https://images.pexels.com/photos/531972/pexels-photo-531972.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover ;
        -webkit-animation: slidein 100s;
        animation: slidein 100s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;
  }

  @-webkit-keyframes slidein {
  from {background-position: top; background-size:3000px; }
  to {background-position: -100px 0px; background-size:2750px;}
  }

  @keyframes slidein {
  from {background-position: top; background-size:3000px; }
  to {background-position: -100px 0px; background-size:2750px;}

}